.AdminTitle {
    position: absolute;
    margin: 100px;
    font-size: 50px;
}

.AdminText {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
    color: white;
    font-size: 20px;
}