.Label {
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
}

h1 {
    color: white;
    width: 100%;
    font-weight: bold;
}

.TextArea {
    margin-top: 50px;
    border: 2px solid black;
    width: 700px;
    height: 300px;
    opacity: 0.8;
}

.Send {
    margin-top: 25px;
    margin-left: -20px;
    font-size: 150%;
}