body{
	text-align: center;
	
	background-image: url("./images/backgroundImage.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	
}

table, td, th {
	color: white;
	border: 1px solid white;
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 150px;
	table-layout: fixed;
	width: 175px;
}