.Cell {
    border: 2px solid black;
    padding: auto;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
}

.TableButton {
    color: white;
    margin-left: 5px;
    float: right;
    margin-right: 0px;
    border: none;
	background-color: black;
    text-align: center;
	border-radius: 10px;
    font-weight: bold; 
}

.TableButton:hover {
	color: red;
}