.Link:link, .Link:visited {
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
    min-width: 125px;
}

.Link:hover {
    color: blue;
}