.Reservations {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 1400px;
    height: 80%;
}

.Calendar {
    position: absolute;
    top: 200px;
    left: 50px;
}

.HourInput {
    position: absolute;
    left: 100px;
    width: 75px;
}

.ClassNameInput {
    position: absolute;
    margin-top: 10px;
    left: 100px;
    width: 200px;
}

.InputDiv {
    position: relative;
    width: 400px;
    height: 300px;
    left: 800px;
    top: 75px;
}