.Button {
    margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
    border: none;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
}

.Button:hover {
	color: blue;
}