.ContainerAccount {
    position: fixed;
    left: 50px;
    top: 100px;
}

.FormAccount {
	margin: 20px;
	font-size: 125%;
	/*text-align: center;*/
}

.InputFixed {
    position: fixed;
    left: 250px;
    width: 200px;
}