.PurchaseForm {
    position: absolute;
    width: 600px;
    left: 700px;
}

.PurchaseInput {
    position: absolute;
    left: 200px;
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
}

.CVC {
    position: absolute;
    left: 200px;
    margin-left: 20px;
    margin-top: 10px;
    width: 35px;
}

.ButtonPurchase {
    position: absolute;
    width: 300px;
    left: 325px;
    top: 280px;
}

.Subscription {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
}

.DescriptionInput {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 400px;
}

.PriceInput {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 100px;
}

select {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 20px;
}