:root {
    --text-color: black;
    --border-color: black;
    --window-background-color: white;
    --message-background-color: aqua;
}

.Message {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.MessageUsername {
    height: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 50;
}

.MessageText {
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    width: auto;
    background-color: var(--message-background-color);
    border-radius: 5px;
}

.ParentWindow {
    position: relative;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 70vh;
}

textarea {
    height: 100%;
    width: 100%;
    resize: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--window-background-color);
    padding: 20px 40px;
}

.MessageWindow {
    position: absolute;
    top: 0px;
    left: 100px;
    right: 100px;
    height: 100%;
    width: 100% auto;
    background: var(--window-background-color);
    border: solid 5px var(--border-color);

    
}

.InputField {
    position: absolute;
    left: 0px;
    bottom: -65px;
    font-size: 30px;
    height: 60px;
    width: 100%;
    border: solid 5px var(--border-color);

    text-overflow: ellipsis;
    white-space:  nowrap;
    word-wrap: break-word;
}

input {
    width: 100%;
}
