.Album {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 1200px;
    height: 600px;
}

img {
    width: 350px;
    height: 250px;
}

.Img1 {
    position: absolute;
    margin-top: 50px;
    width: 300px;
    height: 200px;
}

.Img2 {
    position: absolute;
    margin-top: 50px;
    margin-left: 500px;
    width: 300px;
    height: 200px;
}

.Img3 {
    position: absolute;
    margin-top: 50px;
    margin-left: 1000px;
    width: 300px;
    height: 200px;
}

.Img4 {
    position: absolute;
    margin-top: 400px;
    width: 300px;
    height: 200px;
}

.Img5 {
    position: absolute;
    margin-top: 400px;
    margin-left: 500px;
    width: 300px;
    height: 200px;
}

.Img6 {
    position: absolute;
    margin-top: 400px;
    margin-left: 1000px;
    width: 300px;
    height: 200px;
}